/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
}
/* common  */
.img-xs{
    height: 22px;
}
.flex{
    display: flex;
    align-items: center;
}
.home, .search, .librery-nav{
    margin-bottom: 15px;
}
/* typo  */
span, i, li{
    color: #656565;
}
strong{
    color: white;
}
li{
    list-style: none;
    margin-bottom: 25px;
    font-size: 10px;
}
h3{
    font-size: 10px;
    color: #656565;
}
h1{
    font-size: 18px;
    color: white;
}
h2{
    font-size: 12px;
    color: white;
}
/* nav  */
.container-nav{
    background-color: black;
    width: 50px;
    padding: 5px 10px 10px;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
}
/* logo  */
.logo-normal img{
    height: 40px;
    display: none;
}
.logo-small img{
    height: 28px;
    margin-bottom: 15px;
}
/* home/search/libreria  */
.home span, .search span, .librery-nav span{
    margin-left: 8px;
}
.container-nav span{
    font-size: 10px;
    display: none;
}
/* playlist  */
.container-playlist{
    margin-top: 30px;
    display: none;
}
.new-playlist{
    margin-top: 15px;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
}
.new-playlist i{
    font-size: 37px;
    margin-right: 10px;
}
/* footer nav  */
.footer-nav{
    margin-top: auto;
}
.download{
    margin-bottom: 10px;
}
hr{
    display: none;
}
.user{
    margin-top: 20px;
}
.download img{
    height: 12px;
}
.user img{
    height: 25px;
    width: 25px;
    object-fit: contain;
    background-color: #808080;
    border-radius: 50%;
}
.footer-nav span, .footer-nav strong{
    margin-left: 10px;
    font-size: 10px;
    display: none;
}
/* main  */
.container-librery{
    background-color: #141922;
    height: calc(100vh - 90px);
    width: calc(100% - 50px);
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 90px;
    position: relative;
    overflow: auto;
}
.title{
    margin-bottom: 30px;
}
/* headerlibrery  */
.header-librery{
    height: 90px;
    background-color: rgba(192,192,192,0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;
}
/* options  */
.options{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
}
.options div{
    width: calc(100% /4);
    padding: 5px 0;
    margin-top: 15px;
    display: flex;
}
/* played  */
.played{
    margin-top: 30px;
}
.container-played{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-played div{
    width:calc(100% /2);
    text-align: center;
}
.container-played img{
    width: 100%;
    margin-bottom: 20px;
}
/* for user  */
.for-user{
    margin-top: 40px;
}
.container-for-user{
    display: flex;
}
.container-for-user div{
    width: calc(100% /2);
    text-align: center;
}
.container-for-user img{
    width: 100%;
    margin-bottom: 20px;
}
/* artisti popolari  */
.popular{
    margin-top: 30px;
}
.container-popular{
    display: flex;
}
.container-popular div{
    width: calc(100% /2);
    text-align: center;
}
.container-popular img{
    width: 100%;
    margin-bottom: 20px;
}
/* footer  */
.container-footer{
    background-color: #282828;
    height: 90px;
    display: flex;
    justify-content: space-between;
    width: 100% ;
    padding: 10px 10px 0;
}

/* song  */
.song{
    width: 30%;
    display: flex;
    align-items: center;
}
.song div:first-child{
    margin-right: 10px;
}
.song div:last-child{
    display: flex;
    flex-direction: column;
    margin-left: 22px;
}
.song img{
    height: 28px;
}
.song h4{
    font-size: 10px;
    color: white;
}
.song h5{
    font-size: 8px;
    color: #656565;
}
.song button{
    background-color: #282828;
    border-style: none;
}
/* player  */
.player{
    width: 35%;
    display: flex;
    align-items: center;
}
.container-player{
    width: 100%;
}
.container-player div:first-child{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.player button{
    border-style: none;
    font-size: 15px;
    background-color: #282828;
}
.player i{
    color: white;
}
.player button:nth-child(3){
    font-size: 30px;
}
.container-track{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-track span{
    color: white;
    font-size: 8px;
}
.track{
    width: 68%;
    display: flex;
}
.track div:first-child{
    width: 20%;
    background-color: white;
    height: 4px;
}
.track div:last-child{
    width: 80%;
    background-color: #5a5a5a;
    height: 4px;
}
/* volum  */
.volume{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.volume button{
    border-style: none;
    background-color: #282828;
    font-size: 15px;
}
.volume i{
    color: white;
}
.volume-track{
    width: 55%;
    display: flex;
}
.volume-track div:first-child{
    width: 20%;
    background-color: white;
    height: 4px;
}
.volume-track div:last-child{
    width: 80%;
    background-color: #5a5a5a;
    height: 4px;
}
/* media  */