/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    max-height: 100vh;
    width: 100%;
}
main{
    display: flex;
    height: calc(100vh - 90px);
}
/* common  */
.img-xs{
    height: 22px;
}
.flex{
    display: flex;
    align-items: center;
}
.home, .search, .librery-nav{
    margin-bottom: 15px;
}
/* typo  */
span, i, li{
    color: #656565;
}
strong{
    color: white;
}
li{
    list-style: none;
    margin-bottom: 15px;
    font-size: 10px;
}
h3{
    font-size: 10px;
    color: #656565;
    margin-bottom: 10px;
}
h1{
    font-size: 18px;
    color: white;
    margin-bottom: 12px;
}
h2{
    font-size: 12px;
    color: white;
    margin-bottom: 12px;
}
a{
    text-decoration: none;
    font-size: 10px;
    color: #656565;
    margin-bottom: 10px;
}
/* nav  */
.container-nav{
    background-color: black;
    width: 50px;
    padding: 5px 10px 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}
/* logo  */
.logo-normal img{
    height: 40px;
    display: none;
}
.logo-small img{
    height: 28px;
    margin-bottom: 15px;
}
/* home/search/libreria  */
.home span, .search span, .librery-nav span{
    margin-left: 8px;
}
.container-nav span{
    font-size: 10px;
    display: none;
}
/* playlist  */
.container-playlist{
    margin-top: 10px;
    display: none;
}
.new-playlist{
    margin-top: 10px;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
}
.new-playlist i{
    font-size: 37px;
    margin-right: 10px;
}
/* footer nav  */
.footer-nav{
    margin-top: auto;
}
.download{
    margin-bottom: 10px;
}
hr{
    display: none;
}
.user{
    margin-top: 10px;
}
.download img{
    height: 12px;
}
.user img{
    height: 25px;
    width: 25px;
    object-fit: contain;
    background-color: #808080;
    border-radius: 50%;
}
.footer-nav span, .footer-nav strong{
    margin-left: 10px;
    font-size: 10px;
    display: none;
}
/* main  */
.container-librery{
    background-color: #141922;
    height: 100%;
    width: calc(100% - 50px);
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 90px;
    position: relative;
    overflow: auto;
}
.title{
    margin-bottom: 30px;
}
/* headerlibrery  */
.header-librery{
    height: 90px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 50px;
    right: 0;
    text-align: right;
    z-index: 2;
}
.header-librery button{
   background-color: #141922;
   color: white;
   margin: 20px;
   padding: 15px 40px; 
   border-radius: 25px;
   border-color: white;
   font-size: 10px;
   font-family: 'Montserrat', sans-serif;
}
/* options  */
.options{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
}
.options div{
    padding: 5px 10px;
    margin-top: 15px;
}
/* played  */
.played{
    margin-top: 30px;
}
.container-played{
    display: flex;
    flex-wrap: wrap;
}
.container-played div{
    width:calc(100% /2);
    padding: 5px;
    text-align: center;
}
.container-played img{
    width: 100%;
    margin-bottom: 20px;
}
/* for user  */
.for-user{
    margin-top: 40px;
}
.container-for-user{
    display: flex;
}
.container-for-user div{
    width: calc(100% /2);
    text-align: center;
    padding: 5px;
}
.container-for-user img{
    width: 100%;
    margin-bottom: 20px;
}
/* artisti popolari  */
.popular{
    margin-top: 30px;
}
.container-popular{
    display: flex;
}
.container-popular-img{
    width: calc(100% /2);
    text-align: center;
    padding: 5px;
}

.container-popular img{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
}
/* footer  */

.container-footer{
    background-color: #282828;
    height: 90px;
    display: flex;
    justify-content: space-between;
    width: 100% ;
    padding: 10px 10px 0;
}

/* song  */
.song{
    width: 8.4375rem;
    display: flex;
    margin-top: 15px;
}
.song div:first-child{
    margin-right: 10px;
}
.song div:last-child{
    display: flex;
    flex-direction: column;
    margin-left: 22px;
}
.song img{
    height: 28px;
}
.song h4{
    font-size: 10px;
    color: white;
    margin-bottom: 2px;
}
.song h5{
    font-size: 8px;
    color: #656565;
    margin-bottom: 2px;
}
.song button{
    background-color: #282828;
    border-style: none;
}
/* player  */
.player{
    width: 190px;
    display: flex;
    align-content: space-between;
}
.container-player{
    width: 100%;
}
.container-player div:first-child{
    width: 190px;
    display: flex;
    justify-content: space-between;
}
.player button{
    border-style: none;
    font-size: 15px;
    background-color: #282828;
}
.player i{
    color: white;
}
.player button:nth-child(3){
    font-size: 30px;
}
.container-track{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
.container-track span{
    color: white;
    font-size: 8px;
}
.track{
    width: 68%;
    display: flex;
}
.track div:first-child{
    width: 20%;
    background-color: white;
    height: 4px;
}
.track div:last-child{
    width: 80%;
    background-color: #5a5a5a;
    height: 4px;
}
/* volum  */
.volume{
    width: 9.375rem;
    display: flex;
    align-items: center;
}
.volume button{
    border-style: none;
    background-color: #282828;
    font-size: 15px;
}
.volume i{
    color: white;
}
.volume-track{
    width: 55%;
    display: flex;
}
.volume-track div:first-child{
    width: 20%;
    background-color: white;
    height: 4px;
}
.volume-track div:last-child{
    width: 80%;
    background-color: #5a5a5a;
    height: 4px;
}
/* media  */  
@media screen and (min-width: 552px) {
    /* nav  */
    .container-nav{
        width: 230px;
    }
    .logo-small img{
        display: none;
    }
    .logo-normal img{
        display: initial;
        margin-bottom: 30px;
        margin-top: 15px;
    }
    .container-nav span{
        display: initial;
    } 
    .container-playlist{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        min-height: 150px;
    }
    .list-playlist{
        overflow-y: hidden;
        overflow: auto;
    }
    hr{
        display: block;
    }
    /* libreria */
    .header-librery{
        left: 230px;
    }
    .container-librery{
        width: calc(100% - 230px);
    }
    .container-played div{
        width: calc(100% /4);
    }
    /* for user  */
    .container-for-user div{
        width: calc(100% /4);
    }
    /* popolari  */
    .container-popular-img{
        width: calc(100% /4);
    }
}
@media screen and (min-width: 640px){
    /* played  */
    .container-played div{
        width: calc(100% /4);
    }
    /* for user  */
    .container-for-user div{
        width: calc(100% /4);
    }
    /* popolari  */
    .container-popular-img{
        width: calc(100% /4);
    }
    /* footer  */
    .song div:last-child{
        flex-direction: row;
    }   
}
@media  screen and (min-width: 878px) {
    /* media nav  */
    
    /* libreria */
    /* played  */
    .container-played div{
        width: calc(100% /6);
    }
    /* for user  */
    .container-for-user div{
        width: calc(100% /6);
    }
    /* popolari  */
    .container-popular-img{
        width: calc(100% /6);
    }
    /* footer  */
    .song div:last-child{
        flex-direction: row;
    }
}